$bg: rgba(91, 187, 78, 1);
$gray: rgba(60, 69, 77, 1);

.mainContainer {
  display: flex;
  // border: 2px solid black;
  margin: 50px 100px;
  height: 500px;
  font-family: Proxima Nova;

  .contentLeft {
    // border: 2px solid black;
    width: 60%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contentRight {
    // border: 2px solid black;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    .heading {
      p {
        font-family: Proxima Nova;
        font-size: 18px;
        font-weight: 700;
        line-height: 0px;
        letter-spacing: 0.1em;
        text-align: left;
        color: $bg;
        padding: 10px 0px;
      }
    }

    h3 {
      color: $gray;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 700;
    }

    p {
      font-size: 14px;
      // font-weight: 400;
      // line-height: 15px;
      letter-spacing: 0em;
      text-align: left;
      color: rgba(0, 0, 0, 0.81);
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }
    .btn {
      background-color: $gray;
    }
  }
}
@media only screen and (max-width: 1168px) {
  .mainContainer {
    flex-direction: column;
    align-items: center;
    height: auto;
    .contentRight {
      width: 100%;
      display: flex;

      align-items: center;

      .heading {
        display: flex;
        flex-direction: column;

        align-items: center;
      }
    }
  }
}
@media only screen and (max-width: 700px) {
  .mainContainer {
    margin: auto;
  }
}
@media only screen and (max-width: 425px) {
  .mainContainer {
    .contentLeft {
      display: none;
    }
    .contentRight {
      .heading {
        h3 {
          text-align: center;
        }
        p {
          font-size: 12px;
        }
      }
      p {
        padding: 10px 30px;
      }
    }
  }
}
